hocSinh.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hocsinh">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hoTen" type="K_HT"/>
                <xs:element name="soDT">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[(][0-9]{3}[)][0-9]{3}[ ][0-9]{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="mahs" type="xs:unsignedShort" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="K_HT">
        <xs:restriction base="xs:string">
            <xs:minLength value="20"></xs:minLength>
            <xs:maxLength value="50"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
