XPath/QLDia.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SPECIALS (TITLE, MESSAGE, CD*)>
<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT MESSAGE (#PCDATA) >
<!ELEMENT CD (#PCDATA| ARTIST | PRICEUS | PRICEVN | TRACK)*>
<!ELEMENT ARTIST (#PCDATA) >
<!ELEMENT PRICEUS (#PCDATA) >
<!ELEMENT PRICEVN (#PCDATA) >
<!ELEMENT TRACK (#PCDATA) >
<!ATTLIST TRACK LENGTH CDATA #REQUIRED>